{% extends 'bboard/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1>Объявления</h1>
    </div>
    {% for bb in bbs %}
        <div class="container">
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p>Цена: {{ bb.price }} руб.</p>
            <p class="small">
                <a href="{% url 'index' %}{{ bb.rubric.pk }}/">{{ bb.rubric.name }}</a>
            </p>
            <p class="small">Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}</p>
{#            <p>{{ bb.price }}</p>#}

        </div>
    {% endfor %}

{% endblock %}